/*===== GOOGLE FONTS =====*/
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-medium: 500;
}


/*===== Colores =====*/
:root{
    --first-color: #5361FF;
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
}


/*===== Fuente y tipografia =====*/
:root{
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


/*===== Margenes =====*/
:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
     --clr-accent: #16e0bd;
     --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary:'Roboto', sans-serif;


    --fw-reg: 300;
    --fw-bold: 700;


    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;


    --bs: 0.25em 0.25em 0.75em rgba(0,0,.25),
          0.125em 0.125em 0.125em rgba(0,0,0,.15);
}


/*===== z index =====*/
:root{
    --z-fixed: 100;
}

* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}


	body {
	  min-height: 100vh;
	  width: 100%;
	  font-family: Arial, Helvetica, sans-serif;
	  color: white;
	  /* background-color: gray; */
	  background-image:url("images/photo.jpeg") !important,
     linear-gradient(
	      to bottom,
	      rgba(255, 255, 255, 0.12),
	      rgba(0, 0, 0, 0.53)
	    );

	  background-size: cover !important;
	  background-position: center center !important;
	  position: relative !important;
	  padding-bottom: 5em;
	}


	.main {
	  min-height: 100vh;
	}


	nav {
	  height: 10vh;
	  display: flex;
	  justify-content: space-between;
	  padding: 1rem;
	}


	.logo {
	  margin: 0 1rem;
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-weight: 700;
	  font-size: 1.2rem;
	}


	.logo span {
	  color: rgb(44, 22, 22);
	}


	.links {
	  list-style-type: none;
	  display: flex;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
	}


	.links li {
	  cursor: pointer;
	  margin: 0 0.5rem;
	  font-weight: 700;
	  border-radius: 20px;
	  border: 1px solid rgb(44, 22, 22);
	  padding: 0.5rem 1rem;
	  transition: all 0.3s ease;
	}


	li:hover {
	  background-color: rgba(44, 22, 22, 0.883);
	}


	li.active {
	  color: rgba(44, 22, 22, 0.883);
	}


	li.active:hover {
	  color: rgba(44, 22, 22, 0.883);
	  background: transparent;
	}


	.hero {
	  width: 60%;
	  padding: 2rem;
	  padding-left: 4rem;
	  height: 900px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  padding-left: 9rem;
	}


	.hero h1 {
	  color: white;
	  font-size: 7rem;
	  font-family: sans-serif !important;
	  text-shadow: 1px 1px 4px gray;
	  font-weight: 600;
	  text-align: left;
	}


	button {
	  color: white;
	  padding: 1rem 2rem;
	  margin-top: 3rem;
	  background-color: rgb(54, 28, 28);
	  font-weight: 800;
	  font-size: 1.2rem;
	  cursor: pointer;
	  border-radius: 20px;
	  outline: none;
	  border: none;
	  transition: all 0.4s ease;
	  text-align: center;
	  display: flex;
	  justify-content: center;
	  margin-right: auto;
	  align-items: center;
	}


	button:hover {
	  background-color: 1px solid rgb(44, 22, 22);
	  transform: scale(1.05);
	}
  .footer__link{
  	    padding: .25rem 0;
  	}
  	.footer__link:hover{
  	    color: var(--first-color);
  	}
  	.footer__social{
  	    font-size: 1.4rem;
  	    margin-right: var(--mb-1);
        
  	}
  	.footer__social:hover{
  	    color: var(--first-color);
  	}
